* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #f5f5f5;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-links a {
  color: #fff;
}

.logo-image {
  width: 50px;
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.menu li:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  list-style: none;
}
.menu > li > a {
  color: #6e9341;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: #6e9341;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: #000;
}

/* CONTAINER */
.contain {
  margin-top: 5.5rem;
  padding: 0px 45px;
}
/* Routing Links */
.links {
  color: #929292;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Search Bar */
.search-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #ababab;
  background: #fff;
  margin-top: 30px;
  background-image: url("search-image-2.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Search Button */
.search-button {
  border-radius: 8px;
  border: 1px solid #ababab;
  background: #fff;
  background-image: url("search-button-2.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;

  cursor: pointer;
}

/* Table */
table {
  width: 80vw;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-spacing: 0;
  border-radius: 10px; /* Adjust the value as needed */
  overflow: hidden;
  border-collapse: separate;
}

th {
  color: white;
  background-color: #6e9341;
  padding: 10px 10px;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

td {
  border: 1px solid rgba(171, 171, 171, 1);
  padding: 10px 10px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.col-group {
  width: 16.67%;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.pg-item-color {
  background-color: #e8e8e8;
}

.pg-item-color-current {
  background-color: #6e9341;
}
.pagination-bottom .pagination .page-item:hover .page-link {
  background-color: transparent;
  color: inherit;
}
.pagination-bottom .pagination .page-item.active .page-link,
.pagination-bottom .pagination .page-item.pg-item-color-current .page-link {
  background-color: transparent;
  color: inherit;
}

.alignment {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.alignment li {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    bottom: -15rem;
    color: black;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}
